.texto-rendimento {
  font-size: 0.9rem;
  margin: 10px 0 20px;
}

.btn-escolha-rendimento {
  background: #fff;
  border: 1px solid black;
  padding: 20px 10px;
  border-radius: 10px;
  width: 50%;
  transition: 0.3s all;
}

.btn-escolha-rendimento:last-child {
  border-radius: 0px 10px 10px 0;
}

.btn-escolha-rendimento:first-child {
  border-radius: 10px 0px 0px 10px;
}

.btn-escolha-rendimento:hover {
  background: #dcdee0;
}

#certRendimento,
#certLiquido {
  display: none;
}

i {
  color: #fff;
}
